*{
	margin : 0;
	padding: 0;
}
body{
	height: 100%;
	min-height: 100%;
	background: url('../img/wallpaper.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #fff;
	font-family: 'Quicksand', sans-serif;
}

a{
	text-decoration: none !important;
}
p{
	text-align: justify;
}
ul{
	
}

/*COMMON*/

.hide{
	display: none;
}

.center{
	margin:auto;
	text-align: center;
}
/*PAGE*/
.page{
	border:2px dashed red;
	border-top: none;
	margin-bottom: 10px;
}
.page a{
	text-decoration: none;
	font-weight: bold;
	width: 198px;

}
.page ul{
	list-style-type: none;
}
.page ul li {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.profile{
	text-align: center;
}

#list-post-lastest{
	margin-left: 15px;
	font-weight: bold;
}
/*Other related category*/
#wrapper{
	background-color: rgba(255, 252, 255, 0.7);
	padding: 20px;
	box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
}
/*POST*/

.post{
	border-bottom: 1px solid #30231d;
}
.post:last-child{
	border:none;
}
#title{
	margin:10px 0px;
}
#time{
	margin:10px 0px;
	font-style: italic;
}
#content{
	text-align: justify;
}
/*EDITOR*/
#select-category{
	margin-bottom: 20px;
}
/*FOOTER*/
footer{
	color: black;
}
footer a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
footer p{
	margin:10px 0px;
	text-align: right;
}

/*ADMIN CMS*/
ul.list-group.panel-body{
	padding: 0;
}
#dashboard{
	background: #333333;
	color: #ffffff;

	padding-bottom: 10px;
	margin-bottom: 15px;
}
.btn{
	border-radius: 0px;
}
.modal{
	color: black;
}
/*BUTTON*/	
button > a,
button > a:hover{
	color: #fff;
	text-decoration: none;
}

.button{
	border: none;
	padding: 5px;
}
.button-info{
	background-color: lightblue;
}
.button-danger{
	background-color: lightcoral;
}
.button-info:hover,
.button-danger:hover{
	background-color: gray;
	transition: 0.75s;
}
/*INPUT*/
input{
	margin:10px 0px;
}
/*MENU ADMIN*/
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

/*LOGIN*/


/* NEW CATEGORY*/
#form-add-category{
	margin-bottom:  10px;
}


.close-nav{
	width: 0;
}
.open-nav{
	width: 250px;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgba(11, 8, 15, 0.7);
}

#blog-brand{
	text-align: center;
}
#blog-brand>h1{
	margin-bottom: 0px;
	position: relative;
	z-index: 1;
}
#blog-name{
	font-weight: bold;
	text-align: center;
	box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
	padding: 10px;
	background-color: black;
}
#blog-name{
	color: #fff !important;
}


/*NAVBAR*/

.navbar-vertical{
	width: 200px;
	margin:auto;
}
.navbar-inverse{
	background-color: transparent;
}

#special{
	position: relative !important;
	background-color: #F9F8F7;
	border: 0px !important;

}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;

}
.nav .open>a{
	border-radius: 5px 5px 0px 0px;
}
.dropdown-menu{
	float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
	border-radius: 0px 0px 5px 5px;
	margin-bottom: 5px;
	z-index: -1;
	background-color: floralwhite;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
	z-index: 1;

}
.dropdown-toggle{
	transition: 1s;
}

/*BUTTON RIGHT PAGE*/

.right-menu{
	position: fixed;
	right: 0;
	z-index: 10;
}
#show-menu{
	margin-top:80px;
	padding:5px;
	background-color: darkgray;
}
#toc-list{
	margin-top: 120px;
	padding: 5px;
	background-color: #fff;
}	

/*LIST CONTENT*/
#post-toc{
	width: 200px;
    height: 100%;
    padding-top: 10px;
    position: fixed;
    top: 160px;
    bottom: 0;
    right: -200px;
    z-index: 30;
    background: rgba(250,250,250,0.9);
    border-top: 1px solid #e5e8ec;
    border-left: 1px solid #e5e8ec;
    border-radius: 10px 0 0 0;
    display: block;
    overflow-y: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: transform .35s cubic-bezier(.77, 0, .175, 1);

}
#post-toc.open-toc {
    transform: translateX(-100%);
}

.index-table{
	margin:10px;
}
.index-table ul{
	margin-left: 10px;
	list-style-type: upper-roman;
}
/*TEST*/
